*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  position: relative;
  overflow: hidden;
}
#cursor{ 
  /* custom cursor */
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  position: fixed; 
  /* position fixed hai kyonki sara kam JS mein hoga */
  z-index: 1000;
  transition: all linear 0.1s;
  mix-blend-mode:difference ;

}
#page1{
  background-color: rgba(7, 6, 6, 0.912);
  min-height: 100vh;
  width: 100%;
  position: relative;
  border-bottom: 0.5px solid rgba(0, 242, 255, 0.821);
  
}
#nav{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw,2vw;
  position: relative;
  
  

}
#nav-part2{
  display: flex;
  align-items: center;
  gap: 2vw;
  padding-right: 5vw;
}
#nav-part2 h4{
  font-size: 12px;
  padding: 8px 16px;
  border: 1px solid;
  border-radius: 50px;
  border-color: rgb(193, 202, 209);
  position: relative;
  overflow: hidden;
  transition: all ease 0.4s;
}


#nav-part2 h4::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  bottom: -100%;
  left: 0;
  border-radius: 50%; 
  transition: all ease 0.4s;
}
#nav-part2 h4:hover::after{
  bottom: 0;
  border-radius: 0;
}
#nav-part2 h4 a{
  text-decoration: none;
  color: white;
  z-index: 9;
  position: relative;
}
#nav-part2 h4:hover a{
  color: black;

}
#nav-part2 i{
  display: none;
  color: white;
}

#center{
  display: flex;
}
#center-left{
  height: 88vh;
  width: 50%;
 
  

}
#center-left h1{
  width: 100%;
  color: white;
  padding: 5vw 8vw;
  font-size: 3vw;
  line-height: 60px;
}
#center-right{
  height: 88vh;
  width: 50%;
  
}
#center-right img{
  height: 350px;
  width: 375px;
  margin-left: 100px;
  background-color: rgb(227, 180, 9);
  border-radius: 50%;
  margin-left: 175px;
  margin-top: 50px;
}
#colorful{
  color: rgb(33, 158, 235);
}
#svgs{
  display: flex;
  margin-left: 100px;
  gap: 2vw;
  align-items: center;
  padding-left: 30px;
  
}
#github{
  height: 30px;
  width: 30px;
}
#insta{
  background-color: white;
  height: 30px;
  width: 30px;
  border-color: rgba(7, 6, 6, 0.912);
  border-radius: 50%;
}
#linkedin{
  height: 30px;
  width: 30px;
}
#twitter{
  height: 30px;
  width: 30px;
}
#svgs a:hover{
  color: white;
}
span{
  color: rgb(33, 158, 235);
  z-index: 99;
}

#page2{
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgba(7, 6, 6, 0.912);
  border: 5px solid rgba(0, 242, 255, 0.821);
  display: flex;
  flex-wrap: wrap;
}
#page2-center{
  display: flex;
}
#page2-left{
  width: 60%;
  height: 100vh;
  background-color: rgba(7, 6, 6, 0.912);
}
#page2-right{
  width: 40%;
  height: 100vh;
  background-color: rgba(7, 6, 6, 0.912);
}
#content{
  position: relative;
  color: white;
 
  
}
#content h1{
  color: aqua;
  margin-top: 40px;
  margin-left: 80px;
  font-size: 7vb;
}
#content p{
  font-size: 2.5vb;
  line-height: 25px;
  margin-left: 65px;
  margin-right: 70px;
  margin-top: 65px;
  text-align: center;
   text-align: left;
}
#image{
  height: 400px;
  width:  400px;
  margin-top: 130px;
  margin-left: 95px;
}
#page-3{
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgba(7, 6, 6, 0.912);
  /*border: 5px solid rgba(0, 242, 255, 0.821);*/
  display: flex;

}
@media (max-width:600px) {
  i{
    display: block;
  }
  #nav-part2{

    display: none;
  }
  #nav-part2 i{
    display: block;
    color: white;
  }
  #page1{
    height: 100%;
    width: 100%;
  }
  #center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
  }
  #center-left{
    height: 50%;
    width: 100%;
  }
  #center-right{
    height: 50%;
    width: 100%;
  }
  #center-left h1{
    font-size: 8vw;
    gap:1vw ;
  }
  #center-left>#svgs{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: 1vw;
    gap: 25px;
    margin-top: 15vw;
  }
  #center-right img{
    
    height: 65%;
    width: 60%;
    margin: 22vw;
    top: 50%;
    
    
  }
  #page2-center{
    display: flex;
    flex-wrap: wrap;
  }
  #page2-left{
    height: 100vh;
    width: 100%;
  }
  #content {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  #content h1 {
    font-size: 10vw; /* Adjust font size for smaller screens */
    margin-top: 20px; /* Adjust margin-top for smaller screens */
    margin-bottom: 15px;
    padding-bottom: 10px; /* Adjust margin-bottom for smaller screens */
  }

  #content p {
    font-size: 6vw; /* Adjust font size for smaller screens */
    margin-top: 15px; /* Adjust margin-top for smaller screens */
    margin-bottom: 5px; /* Adjust margin-bottom for smaller screens */
    text-align: left;
    width: 80%;
    margin-right: 13px;
    line-height: 35px;
    padding-right: 8px;
    padding-top: 10px;
    padding-right: 13px;
  }
  
  #page2-right{
    height: 0vh;
    width: 100%;
  }
  #page2-right img{
    display: none;
  }
}